*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top right,aqua,rgba(0, 255, 200, 0.842));
    height: 100vh;
}
.clock{
    background: url('clock.png') center no-repeat;
     background-size:contain;
    height:40vw;
    width: 40vw;
    margin: auto;
    position: relative;
    border: red 2px solid;
    
}
#hours,#minutes,#seconds{
    position: absolute;
    
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hours{
    
  
    height: 17%;
    width: 1.2%;
    top:32%;
    left: 49.5%;
    opacity: 0.8;
    
}
#minutes{
    
    height: 23%;
    width: 1%;
    top:26%;
    left: 49.5%;
   
}
#seconds{
    height: 28%;
    width: 1%;
    top:21%;
    left: 49.5%;
    opacity: 0.6;
    
}